body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.btnpub {
    >a {
        width: 150px;
        height: 53px;
        display: flex;
        justify-content: center;
        background-color: white;
        margin: 13px 0;
        color: black;
        border: 1px solid white;
        padding: 10px 24px;

        >span {
            padding: 5px 0;
        }

        >.row {
            position: relative;

            >i {
                font-size: 20px;
                margin-left: 5px;
                position: absolute;
                left: 0;
                padding-top: 4px;
            }
        }

        &:hover {
            >.row>i {
                left: 8px;
            }
        }
    }
}

/* start bottomFixedImage */
.bottomImage {
    position: absolute;
    bottom: 20px;
    right: 5px;
    width: 200px;
    height: 110px;

    >.imgFixed {
        width: 80px;
        height: 80px;
        position: fixed;
        bottom: 35px;
        right: 17px;
        z-index: 3;

        >img {
            width: 100%;
            height: 100%;
            border: 6px solid rgba(26, 25, 25, 0.062);
            object-fit: cover;
            border-radius: 50%;
            position: relative;
            z-index: 999;
            transition: .6s;
            box-shadow: 4px 5px 9px 3px orange;

            &:hover {
                /* transform: scale(1.03); */
                cursor: pointer;
                transform: perspective(200px) rotate3D(0, 1, 0, 5deg);


            }
        }

        >a {
            width: 40px;
            height: 40px;
            z-index: 99;
            position: fixed;
            bottom: 47px;
            right: 32px;
            transition: 1s;
            border: 3px solid orange;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.616);


            >i {
                color: black;
                font-size: 20px;
            }

            &:hover {
                transform: scale(1.05);
                background-color: rgba(255, 166, 0, 0.849);

                >i {
                    color: rgb(0, 0, 0);
                }
            }
        }
    }

    &:hover>.imgFixed>a {

        &:nth-of-type(1) {
            bottom: 10px;
            right: 110px;
        }

        &:nth-of-type(2) {
            bottom: 56px;
            right: 110px;
        }

        &:nth-of-type(3) {

            bottom: 103px;
            right: 110px;
        }
    }
}

/* end bottomFixedImage */
main {
    width: 100%;

    >.topSide {
        width: 100%;
        height: 50px;
        background-color: black;
        color: white;
        position: relative;
        z-index: 999;

        >.row {
            justify-content: space-between;
            padding: 0 40px;

            >* {
                min-width: 50px;
                height: 100%;
            }

            >div {
                >* {
                    padding-right: 40px;
                    display: flex;
                    align-items: center;
                    font-size: 13px;
                    font-weight: normal;
                    color: rgba(250, 246, 246, 0.938);
                }

                >address {
                    font-style: normal;
                }
            }

            >ul {
                align-items: center;

                >li {
                    font-size: 14px;
                    height: 100%;

                    >a {
                        padding-left: 20px;
                        display: flex;
                        height: 100%;
                        align-items: center;
                    }
                }
            }
        }
    }

    /* end topSide  */
    /* start headTop */
    >.headTop {
        width: 100%;
        height: 100vh;
        background-image: url(../../img/hero-1-scaled.jpg);
        background-size: cover;
        position: relative;

        >.row {
            >* {
                width: 100%;
                /* border: 4px solid peru; */
                height: fit-content;
                margin: 14px 0;
                position: relative;
                z-index: 3;
            }

            >header {
                .row {
                    padding: 0 50px;

                    >figure {
                        width: 15%;

                        >img {
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                        }
                    }

                    >ul {
                        width: 70%;
                        display: flex;
                        padding-left: 50px;
                        font-size: 17px;
                        display: flex;
                        align-items: center;
                        align-items: center;

                        >li {
                            padding-right: 50px;
                            height: 100%;
                            text-transform: capitalize;

                            >a {
                                color: white;
                                display: flex;
                                height: 100%;
                                align-items: center;
                                justify-content: center;
                                position: relative;

                                &:hover::after {
                                    width: 100%;
                                }

                                &::after {
                                    transition: .4s;
                                    content: '';
                                    display: flex;
                                    width: 0;
                                    height: 1px;
                                    background-color: white;
                                    position: absolute;
                                    bottom: 15px;
                                    left: 0;
                                }
                            }
                        }
                    }

                    >.row {
                        width: 15%;
                        display: flex;
                        align-items: center;
                        padding: 0 2px;

                        >* {
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        >a {
                            width: 155px;
                            height: 48px;
                            border: 1px solid white;
                            padding: 0 13px;
                            transition: .4s;

                            >i {
                                padding-left: 3px;
                                display: flex;
                                align-items: center;
                            }

                            &:hover {
                                background-color: white;
                                color: rgb(0, 0, 0);
                            }
                        }

                        >i {
                            font-size: 30px;
                            padding-left: 20px;
                            cursor: pointer;
                        }
                    }
                }
            }

            >section {
                >* {
                    color: white;
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    line-height: 73px;
                }

                >h2 {
                    font-size: 73px;
                    font-weight: 600;
                }

                >p {
                    font-size: 20px;
                }

                >.row {
                    margin-top: 30px;
                    justify-content: center;
                    width: 100%;
                    height: 55px;

                    >a {
                        width: 260px;
                        background-color: black;
                        color: white;
                        display: flex;
                        justify-content: center;

                        >.row {
                            display: flex;
                            justify-content: center;
                            position: relative;
                            transition: .4s;

                            >i {
                                padding-left: 5px;
                                font-size: 20px;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }

                        &:hover {
                            background-color: white;
                            color: black;
                        }

                        &:hover>div {
                            left: 5px;
                            color: black;
                        }
                    }
                }
            }
        }

        &::before {
            content: '';
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(27, 27, 27, 0.596);
            width: inherit;
            height: inherit;
        }
    }

    /* end headTop */
    /* start off */
    >.off {
        width: 100%;
        height: 50px;
        background-color: rgb(230, 226, 245);

        >.row {
            align-items: center;
            justify-content: center;

            >* {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    /* start fashion */
    >.fashion {
        width: 100%;
        height: 85vh;

        >.row {
            justify-content: center;
            align-items: center;
            padding: 49px 20px;

            >figure {
                height: 486px;
                width: 373px;
                margin: 0 20px;
                position: relative;
                transition: .4s;

                >img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                >.row {
                    display: flex;
                    justify-content: center;
                    /* align-items: center; */
                    color: white;
                    width: 333px;
                    height: 276px;
                    position: absolute;
                    bottom: -40px;
                    left: 20px;
                    background-color: white;
                    color: black;
                    transition: .5s;
                    z-index: 999;

                    >.box {
                        >* {
                            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                        }

                        >h3 {
                            text-align: center;
                            font-size: 18px;
                            line-height: 80px;
                        }

                        >p {
                            font-size: 13px;
                            border-bottom: 2px solid rgba(206, 203, 203, 0.623);
                            padding-bottom: 34px;
                        }

                        >a {
                            padding: 20px 0;
                            display: flex;
                            justify-content: center;
                        }

                        >button {
                            width: 333px;
                            height: 58px;
                            background-color: black;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            border: none;
                            outline: none;
                            color: white;
                            font-size: 14px;
                            cursor: pointer;

                            >i {
                                font-size: 14px;
                                height: 100%;
                                align-items: center;
                            }
                        }
                    }
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.24);
                    width: 0;
                    height: 0;
                }

                &:hover {
                    transform: scale(1.02);

                    >.row {
                        bottom: -20px;
                    }

                    &::after {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    /* end fashion */
    /* start dance */
    >.dance {
        display: flex;
        justify-content: center;

        >div {
            width: 77%;
            margin-top: 90px;
            height: 80vh;

            >.row {
                justify-content: space-between;
                background-color: rgb(230, 226, 245);

                >article {
                    width: 60%;
                    padding: 130px 100px;

                    >* {
                        margin-bottom: 60px;
                    }

                    >h2 {
                        font-size: 40px;
                        font-weight: bolder;
                    }

                    >p {
                        font-size: 17px;
                        color: rgba(22, 22, 22, 0.911);
                    }

                    >a {
                        width: 250px;
                        border: 1px solid black;
                        background-color: white;
                        color: black;
                        padding: 18px 35px;
                        display: flex;
                        transition: .4s;

                        .row {
                            position: relative;
                            transition: .2s;
                            margin-left: 3px;

                            >i {
                                font-size: 20px;
                                position: absolute;
                                left: 2px;
                            }
                        }

                        &:hover {
                            background-color: black;
                            color: white;

                            >.row>i {
                                left: 10px;
                            }
                        }
                    }
                }

                >figure {
                    width: 40%;
                    position: relative;
                    height: 100%;

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    >a {
                        padding: 15px 25px;
                        background-color: white;
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        color: color;
                        display: flex;
                        transition: .4s;

                        >.row {
                            position: relative;
                            margin: 0 10px 0 5px;
                            transition: .2s;

                            >i {
                                position: absolute;
                                left: 0;
                                font-size: 20px;
                            }
                        }

                        &:hover {
                            background-color: black;
                            color: white;

                            >.row>i {
                                left: 4px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    /* end dance */
    /* start video */
    >.video {
        margin-top: 120px;
        width: 100%;
        height: 80vh;
        background-color: rgb(183, 136, 230);
        position: relative;

        >video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.377);
            position: absolute;
            top: 0;
            left: 0;
        }

        >.row {
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;

            >div {
                >* {
                    width: 100%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                >h2 {
                    font-size: 80px;
                    ;
                    font-weight: bolder;
                }

                >p {
                    font-size: 20px;
                    font-weight: normal;
                }

                >.row {
                    justify-content: center;

                    >a {
                        display: flex;
                        outline: none;
                        margin-top: 80px;
                        padding: 18px 27px;
                        border: 1px solid white;
                        width: 30%;
                        transition: .4s;

                        >.row {
                            position: relative;
                            transition: .2s;

                            >i {
                                font-size: 20px;
                                margin-left: 5px;
                                position: absolute;
                                left: 0;
                            }
                        }

                        &:hover {
                            background-color: black;
                            border: none;
                            color: white;

                            >.row>i {
                                left: 14px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    /* end video */
    /* start meet  */
    >.meet {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60vh;
        margin-top: 120px;
        display: flex;

        >.row {
            width: 85%;
            height: 100%;
            display: flex;

            >div {
                width: 25%;
                padding: 20px;
                padding-bottom: 0;

                >h2 {
                    font-size: 40px;
                    font-weight: bolder;
                    padding-bottom: 13px;
                }

                >p {
                    font-size: 17px;
                    padding-bottom: 20px;
                }

                >.row {
                    height: 50px;

                    >a {
                        width: 210px;
                        display: flex;
                        border: 1px solid black;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 20px;
                        padding: 15px 6px;
                        transition: .4s;

                        >.row {
                            position: relative;
                            transition: .2s;

                            >i {
                                font-size: 20px;
                                margin-left: 3px;
                                position: absolute;
                                left: 0;
                            }
                        }

                        &:hover {
                            background-color: black;
                            border: none;
                            color: white;

                            >.row>i {
                                left: 8px;
                                color: white;
                            }
                        }
                    }
                }
            }

            >.row {
                width: 75%;
                justify-content: space-between;
                padding-top: 0;

                >figure {
                    width: 280px;
                    height: 400px;
                    position: relative;
                    transition: .4s;

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    >.row {
                        position: absolute;
                        bottom: 20px;
                        z-index: 999;
                        width: 100%;
                        height: 150px;
                        justify-content: center;
                        transition: .4s;

                        >.row {
                            width: 80%;
                            background-color: white;
                            align-items: center;

                            >.row {
                                justify-content: center;
                                width: 100%;
                                height: 100px;
                                text-align: center;

                                >a {
                                    color: black;
                                    width: 100%;

                                    &:first-of-type {
                                        font-size: 18px;
                                        font-weight: 600;
                                    }

                                    &:last-of-type {
                                        font-size: 13px;
                                    }
                                }

                                >.row {
                                    width: 80%;
                                    height: 40px;
                                    align-items: center;
                                    justify-content: center;

                                    >a {
                                        justify-content: space-evenly;
                                        align-items: center;

                                        >i {
                                            font-size: 15px;
                                            margin-left: 11px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &::after {
                        transition: 1s;
                        content: '';
                        background-color: rgba(0, 0, 0, 0.24);
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 99;
                    }

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.02);

                        >.row {
                            bottom: 28px;
                        }
                    }
                }
            }
        }
    }

    /* end meet */
    /* start stories */
    >.stories {
        width: 100%;
        height: 80vh;
        margin: 16px 0;
        padding: 0 20px;
        margin-bottom: 80px;

        >* {
            height: fit-content;
        }

        >.row {
            display: flex;
            justify-content: center;
            align-items: center;

            >h2 {
                padding: 20px;
                font-size: 50px;
                font-weight: bolder;
            }

            >p {
                font-size: 15px;
                font-weight: normal;
                margin-bottom: 40px;
                line-height: 25px;
                width: 50%;
                text-align: center;
            }
        }

        >.storiesParent {
            >.row {
                display: flex;
                justify-content: center;
                align-items: center;

                >figure {
                    width: 378px;
                    height: 400px;
                    position: relative;
                    transition: .4s;

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        padding: 20px;
                    }

                    >.row {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        z-index: 999;
                        align-content: space-between;
                        transition: .4s;

                        >* {
                            color: white;
                        }

                        >span {
                            padding: 10px 20px;
                            border: 1px solid white;
                            margin: 25px;
                        }

                        >p {
                            font-size: 18px;
                            font-weight: bold;
                            padding: 60px 30px;
                        }
                    }

                    &:hover {
                        transform: scale(1.02);
                        cursor: pointer;

                        >.row {
                            position: absolute;
                            top: 9px;
                        }
                    }
                }
            }
        }
    }

    /* end stories */
    /* start attachmentDance */
    >.attachmentDance {
        width: 100%;
        height: 100vh;
        background-image: url(../../img/dance.jpg);
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        margin-bottom: 110px;

        >.childDance {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 999;

            >.row {
                width: 70%;
                height: 60%;
                background-color: rgb(255, 255, 255);
                padding: 0 30px;

                >div {
                    width: 47%;
                    display: flex;
                    align-items: center;

                    >article {
                        /* padding: 30px; */
                        margin-left: 35px;

                        >* {
                            width: 100%;
                            padding: 15px;
                        }

                        >h3 {
                            font-size: 40px;
                            font-weight: bolder;
                        }

                        >p {
                            font-weight: normal;
                            padding-top: 8px;
                        }

                        >img {
                            width: 175px;
                            object-fit: cover;
                        }
                    }
                }

                >form {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    >.row {
                        width: 100%;
                        display: flex;
                        align-content: center;

                        >input {
                            width: 100%;
                            height: 40px;
                            padding: 10px;
                            font-size: 16px;
                            color: rgb(41, 40, 40);
                            border: none;
                            outline: none;
                            border-bottom: 2px solid rgba(136, 135, 135, 0.801);
                            margin-bottom: 20px;

                            &::placeholder {
                                font-size: 17px;
                                padding-bottom: 15px;
                            }
                        }

                        >a {
                            width: 300px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 13px 0;
                            background-color: white;
                            color: black;
                            border: 1px solid black;
                            padding: 10px 20px;
                            transition: .4s;

                            >span {
                                padding: 5px 0;
                                margin-right: 5px;
                            }

                            >.row {
                                padding: 0 3px;
                                position: relative;

                                >i {
                                    display: flex;
                                    font-size: 20px;
                                    margin-left: 5px;
                                    align-items: center;
                                    justify-content: center;
                                    position: absolute;
                                    left: 0;
                                }
                            }

                            &:hover {
                                background-color: black;
                                color: white;

                                >.row>i {
                                    left: 8px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.384);
        }
    }

    /* end attachmentDance */
    /* start studio */
    >.studio {
        width: 100%;
        height: 100vh;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;

        >.boxStudio {
            width: 80%;
            height: 100%;
            text-align: center;

            >.parentChild {
                display: flex;
                justify-content: center;
                align-content: center;
                width: 100%;
                flex-wrap: wrap;

                >.txtStudio {
                    width: 70%;

                    >* {
                        color: black;
                        padding: 10px;
                    }

                    >h2 {
                        font-size: 49px;
                    }

                    >p {
                        font-size: 15px;
                        font-weight: normal;
                    }
                }

                >.galleryStudio {
                    width: 97%;
                    margin-top: 30px;

                    >.row {
                        display: flex;
                        justify-content: space-around;

                        >figure {
                            width: 280px;
                            height: 280px;
                            position: relative;
                            transition: .4s;

                            >img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                padding-bottom: 20px;
                            }

                            &::after {
                                content: '';
                                width: 100%;
                                height: 260px;
                                background-color: rgba(0, 0, 0, 0.26);
                                position: absolute;
                                left: 0;
                                top: 0;
                                z-index: 999;
                            }
                        }

                    }
                }
            }
        }
    }

    /* end studio */
    /* start classes */
    >.classes {
        width: 100%;
        height: 80vh;
        background-image: url(../../img/banner-2-scaled.jpg);
        background-size: cover;
        background-position: center;
        position: relative;

        >.classParent {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;
            padding: 140px;

            >.row {
                display: flex;

                >article {
                    width: 35%;

                    >* {
                        color: white;
                        padding-bottom: 20px;
                    }

                    >h3 {
                        font-size: 40px;
                        font-weight: 600;
                    }

                    >p {
                        font-size: 15px;
                        font-weight: normal;
                        line-height: 25px;
                    }

                    >a {
                        width: 190px;
                        height: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 13px 0;
                        color: white;
                        border: 1px solid white;
                        padding: 10px 24px;
                        transition: .4s;

                        >span {
                            padding: 5px 0;
                        }

                        >.row {
                            padding: 0 3px;
                            position: relative;

                            >i {
                                display: flex;
                                font-size: 20px;
                                margin-left: 5px;
                                align-items: center;
                                justify-content: center;
                                position: absolute;
                                left: 0;
                            }
                        }

                        &:hover {
                            background-color: black;
                            color: white;
                            border: none;

                            >.row>i {
                                left: 8px;
                            }
                        }
                    }
                }

                >.classType {
                    width: 65%;
                    display: flex;
                    justify-content: flex-end;

                    >.row {
                        width: 800px;
                        height: 500px;
                        /* border: 6px solid black; */

                        >div {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            &:nth-of-type(1),
                            &:nth-of-type(2),
                            &:nth-of-type(3) {
                                border-bottom: 2px solid rgba(66, 65, 65, 0.767);
                            }

                            >* {
                                color: white;
                                font-size: 15px;
                            }

                            >.row {
                                display: flex;
                                align-content: center;

                                >* {
                                    width: 100%;
                                    display: flex;
                                    justify-content: flex-start;
                                }

                                >h4 {
                                    font-size: 28px;
                                    font-weight: bold;
                                    padding-bottom: 5px;
                                }

                                >span {
                                    font-weight: normal;
                                }
                            }

                            >a {
                                width: 150px;
                                height: 53px;
                                display: flex;
                                justify-content: center;
                                background-color: white;
                                margin: 13px 0;
                                color: black;
                                border: 1px solid white;
                                padding: 10px 24px;

                                >span {
                                    padding: 5px 0;
                                }

                                >.row {
                                    position: relative;

                                    >i {
                                        font-size: 20px;
                                        margin-left: 5px;
                                        position: absolute;
                                        left: 0;
                                        padding-top: 4px;
                                    }
                                }

                                &:hover {
                                    >.row>i {
                                        left: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.842);
        }
    }

    /* end classes */

    /* start stories2 */
    >.stories2 {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;

        >.box {
            width: 80%;
            height: 100%;

            >.row {
                width: 90%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                >* {
                    /* width: 50%; */
                    height: 80vh;
                }

                >figure {
                    width: 532px;
                    height: 562px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                >article {
                    width: 483px;
                    height: 354px;

                    >h3 {
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 48px;
                        letter-spacing: 0.225px;
                        margin-bottom: 30px;
                    }

                    >p {
                        font-size: 17px;
                        line-height: 25.8px;
                        padding-bottom: 38px;
                    }

                    >.btnpub {
                        >a {
                            width: 220px;
                            border: 1px solid black;
                            padding-right: 34px;

                            &:hover {
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    /* end stories2 */
    /* start stories3 */
    >.stories3 {
        width: 100%;
        height: 80vh;
        display: flex;
        justify-content: center;

        >.box {
            width: 80%;
            height: 100%;

            >.row {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                >* {
                    height: 80vh;
                }

                >figure {
                    width: 546px;
                    height: 565px;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                >article {
                    width: 30%;
                    width: 474px;
                    height: 354px;

                    >h3 {
                        font-size: 40px;
                        font-weight: 600;
                        line-height: 48px;
                        letter-spacing: 0.225px;
                        margin-bottom: 30px;
                    }

                    >p {
                        font-size: 17px;
                        line-height: 25.8px;
                        padding-bottom: 38px;
                    }

                    >.btnpub {
                        >a {
                            width: 220px;
                            border: 1px solid black;
                            padding-right: 34px;

                            &:hover {
                                background-color: black;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    /* end stories3 */
    /* start video2 */
    >.video2 {
        margin-top: 120px;
        width: 100%;
        height: 80vh;
        position: relative;

        >video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.377);
            position: absolute;
            top: 0;
            left: 0;
        }

        >.row {
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 999;

            >div {
                >* {
                    width: 100%;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                >h2 {
                    font-size: 80px;
                    ;
                    font-weight: bolder;
                }

                >p {
                    font-size: 20px;
                    font-weight: normal;
                }

                >.row {
                    justify-content: center;

                    >a {
                        display: flex;
                        outline: none;
                        margin-top: 80px;
                        padding: 18px 27px;
                        border: 1px solid white;
                        width: 30%;
                        transition: .4s;

                        >.row {
                            position: relative;
                            transition: .2s;

                            >i {
                                font-size: 20px;
                                margin-left: 5px;
                                position: absolute;
                                left: 0;
                            }
                        }

                        &:hover {
                            background-color: black;
                            border: none;
                            color: white;

                            >.row>i {
                                left: 14px;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    /* end video2 */

}